* {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.body {
    text-align: center;
    background-color: rgb(126, 126, 126);
    margin: 0px;
    padding-top: 10px;
}

body {
    margin: 0px;
}

P {
    margin: 0px;
}

.header-text {
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: whitesmoke;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    background-color: #1f1f1f;
    width: 500px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.statement-text {
    display: inline-block;
    margin-left: 20px;
}

.statement_div {
    text-align: left;
}

.datePicker {
    border-radius: 10px;
    font-size: 16px;
    height: 20px;
}

.input_div {
    display: inline-flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 12px;
    color: whitesmoke;
    min-width: 710px;
}

.ticker-input {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.selections_div {
    display: inline-block;
    background-color: #1f1f1f;
    border-radius: 10px;
    margin-top: 10px;
    padding: 12px;
    color: whitesmoke;
    min-width: 710px;
}

.datePicker_container {
    vertical-align: bottom;
}

.datePicker-text {
    margin-bottom: 10px;
}

.DateInput_input, .DateInput_input_1 {
    text-align: center;
    font-size: inherit ! important;
    Height: 36px !important;
    Width: 100% !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    }

.checklist-div {display: inline-block;
    justify-content: center;}

.ema-checklist {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin: 2px;
}

.sma-checklist {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin: 2px;
}

.main-svg {
    user-select: none;
    border-radius: 10px;
}

.submit-button {
    display: inline-block;
    height: 40px;
    padding: 0.5em 1.5em;
    margin-left: 20px;
    border: 0.16em solid rgb(0, 0, 0);
    border-radius: 2em;
    font-weight: 400;
    color: whitesmoke;
    background-color: rgb(63, 63, 63);
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}

.submit-button:hover {
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-color: rgb(255, 153, 36);
}

.graph-div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.graph-plot {
    border-radius: 10px;
}